<!DOCTYPE html>
<html>

	<head>

		<title>Salud Primero S.A.</title>

		<meta charset="UTF-8">
		<meta name="description" content="Pag. principal de un paciente">
		<meta name="keywords" content="paciente, salud, primero, sa">

		<!-- Hojas de estilo-->
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"  >
		<link href="stylesheets/base_structure.css" rel="stylesheet">
		<link href="stylesheets/bootstrap-edit.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<!--<link rel="stylesheet" type="text/css" href="stylesheets/operario_style.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/bar-grupo.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/bar-2.css">
			-->
		<link href="stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
		<style>

		.arc text {
		  font: 10px sans-serif;
		  text-anchor: middle;
		}

		.arc path {
		  stroke: #fff;
		}

		</style>
	</head>
	<body>

		<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WAD-SaludPrimeroSA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="contenedor" class="container-fluid">
      <div id="contenedor_general" class="row">
        <div id= "menu_sucursales" class="col-sm-3 col-md-2 sidebar">
          <ul class="menu nav nav-sidebar">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Exámenes <span class="sr-only">(current)</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Generar Reportes</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Registrar</a></li>
          </ul>
        </div>
        <div id="contenedor_info" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 ">
	        <div id="navegacion" class="row">
	        	<ol class="breadcrumb" style="    margin-bottom: 0px;">
				  <li><h2>Exámenes</h2></li>
				</ol>
	        </div>

	        <div id="contenedor_datos" class="row">
		        <div class=" main">
					<div id="container_examenes">
						<div>

					  <h2 class="sub-header">Lista de Exámenes</h2>
					  <button type="button" class="btn-u btn-u-blue btn-header" data-toggle="modal" data-target="#myModal">
					  	<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
					  </button>
					  </div>
					  <div class="table-responsive table-content">
					  <!--
						<table class="table table-striped">
						  <thead>
							<tr>
							  <th>Paciente</th>
							  <th>Centro</th>
							  <th>Examen</th>
							  <th width="20%">Acciones</th>
							</tr>
						  </thead>
						  <tbody id="examenes_contenido">
						  </tbody>
						</table>
						-->
						<table id = "Examenes_Operario" class = "display" width = "100%"></table>
					  </div>
					</div>

					<div id="container_sucursales">
			        <div class="tab-v2 margin-bottom-40 container-list-v">
	                    <ul class="nav nav-tabs">
	                        <li class="active"><a href="#alert-1" data-toggle="tab" aria-expanded="true">Total muestras medicas asignadas </a></li>
	                        <li class=""><a href="#alert-2" data-toggle="tab" aria-expanded="false">Gráfico del total de muestras médicas mensuales por laboratorio</a></li>
	                    </ul>
	                    <div class="tab-content">

	                        <div class="tab-pane fade active in" id="alert-1">

                              <div id="container_examenes">
									              <h2 class="sub-header">Total muestras medicas asignadas </h2>
				                        <div id="grafico_meses" class="table-responsive table-content">

									              </div>
									            </div>
	                        </div>

	                        <div class="tab-pane fade" id="alert-2">

                              <div id="container_examenes">
									              <h2 class="sub-header">Gráfico del total de muestras médicas mensuales por laboratorio</h2>
																<form id="myform" method="post" action="somewhere" onsubmit="return submitForm(this);">

							<input type="text" id="fecha1" name="fecha1" value="08/15/2016" class="form-control" />
							<input type="text" id="fecha2" name="fecha2" value="08/20/2016" class="form-control" />
																	<input type="submit" value="Buscar"/>
																</form>
									              <div id="grafico_enfermedades" class="table-responsive table-content">

									              </div>
									            </div>

	                        </div>

	                    </div>
	                </div>

		        </div>


					<div id="container_datos">
						<div class="panel panel-blue margin-bottom-40">
							<!-- <div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-tasks"></i> Informaci󮠤el registro</h3>
							</div> -->
							<div class="panel-body">
								<form class="margin-bottom-40" role="form">
									<div class="form-group" id="form_paciente">
										<label for="paciente">Paciente</label>
										<input type="text" class="form-control" id="paciente" placeholder="Paciente">
									</div>
									<div class="form-group" id="form_centro">
										<label for="centro">Centro</label>
										<input type="text" class="form-control" id="centro" placeholder="Centro">
									</div>
									<div class="form-group" id="form_examen">
										<label for="examen">Examen</label>
										<input type="text" class="form-control" id="examen" placeholder="Examen">
									</div>
									<button id="actualizar" type="submit" class="btn-u btn-u-blue">Registrar</button>
								</form>
							</div>
						</div>
				</div>
		        </div>
	        </div>
        </div>
      </div>
      <footer class="footer">
      <div class="container">
        <p class="text-muted">DAW @ 2016</p>
      </div>
    </footer>
    </div>

		<!-- Scripts -->
		<script src="javascripts/d3.v3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="javascripts/operario_script.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
		<script src="javascripts/grafico_pastel.js"></script>
		<script src="javascripts/graphs.js"></script>
		<script src="javascripts/map.js"></script>
		<script src="javascripts/grafico_barra.js"></script>
		<!--
        <script src="javascripts/bar-emfermedad.js"></script>
        <script src="javascripts/bar-laboratorio.js"></script>
        <script src="javascripts/bar-ciudad.js"></script>
			-->
		<script type="text/javascript" src="javascripts/bootstrap-datetimepicker.min.js"> </script>
        <script type="text/javascript" src="javascripts/bootstrap-datetimepicker.pt-BR.js"> </script>
		<script src="//code.jquery.com/jquery-1.12.3.js"></script>
		<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

		<script type="text/javascript">

           $('#datetimepicker1').datetimepicker({
        format: 'dd/MM/yyyy',
        language: 'pt-BR'
      });
      //'dd/MM/yyyy hh:mm:ss',
      $('#datetimepicker2').datetimepicker({
        format: 'dd/MM/yyyy',
        language: 'pt-BR'
      });

               $('#datetimepicker3').datetimepicker({
        format: 'MM/yyyy',
        language: 'pt-BR'
      });

      $('#datetimepicker4').datetimepicker({
        format: 'MM/yyyy ',
        language: 'pt-BR'
      });
		</script>

	</body>

</html>
