<!DOCTYPE html>
<html>

	<head>

		<title>Salud Primero S.A.</title>

		<meta charset="UTF-8">
		<meta name="description" content="Pag. principal de un paciente">
		<meta name="keywords" content="paciente, salud, primero, sa">

		<!-- Hojas de estilo-->
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"  >
		<link href="stylesheets/base_structure.css" rel="stylesheet">
		<link href="stylesheets/bootstrap-edit.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="stylesheets/operario_style.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/bar-grupo.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/bar-2.css">
		<link href="stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

<style>
/**
 * Grid-light theme for Highcharts JS
 * @author Torstein Honsi
 */

// Load the fonts
Highcharts.createElement('link', {
   href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
   rel: 'stylesheet',
   type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);

Highcharts.theme = {
   colors: ["#7cb5ec", "#f7a35c", "#90ee7e", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
      "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
   chart: {
      backgroundColor: null,
      style: {
         fontFamily: "Dosis, sans-serif"
      }
   },
   title: {
      style: {
         fontSize: '16px',
         fontWeight: 'bold',
         textTransform: 'uppercase'
      }
   },
   tooltip: {
      borderWidth: 0,
      backgroundColor: 'rgba(219,219,216,0.8)',
      shadow: false
   },
   legend: {
      itemStyle: {
         fontWeight: 'bold',
         fontSize: '13px'
      }
   },
   xAxis: {
      gridLineWidth: 1,
      labels: {
         style: {
            fontSize: '12px'
         }
      }
   },
   yAxis: {
      minorTickInterval: 'auto',
      title: {
         style: {
            textTransform: 'uppercase'
         }
      },
      labels: {
         style: {
            fontSize: '12px'
         }
      }
   },
   plotOptions: {
      candlestick: {
         lineColor: '#404048'
      }
   },


   // General
   background2: '#F0F0EA'

};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);
</style>
	</head>
	<body>

		<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WAD-SaludPrimeroSA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Profile</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="contenedor" class="container-fluid">
      <div id="contenedor_general" class="row">
        <div id= "menu_sucursales" class="col-sm-3 col-md-2 sidebar">
          <ul class="menu nav nav-sidebar">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Ex&aacute;menes <span class="sr-only">(current)</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Generar Reportes</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Registrar</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Pacientes</a></li>
          </ul>
        </div>
        <div id="contenedor_info" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 ">
	        <div id="navegacion" class="row">
	        	<ol class="breadcrumb" style="    margin-bottom: 0px;">
				  <li><h2>Ex&aacute;menes</h2></li>
				  <button type="button" class="btn-u btn-u-blue btn-header" id="botonRegistro" style="border-bottom: 10%;"
                                    data-toggle="modal" data-target="#myModalPaciente">
					  	            <span  aria-hidden="true"></span> Registrar Paciente
					              </button>
				</ol>
	        </div>

	        <div id="contenedor_datos" class="row">
		        <div class=" main">
					<div id="container_examenes">

					  <div class="table-responsive table-content">
					  <!--
						<table class="table table-striped">
						  <thead>
							<tr>
							  <th>Paciente</th>
							  <th>Centro</th>
							  <th>Examen</th>
							  <th width="20%">Acciones</th>
							</tr>
						  </thead>
						  <tbody id="examenes_contenido">
						  </tbody>
						</table>
						-->
						<table id = "Examenes_Operario" class = "display" width = "100%"></table>
					  </div>
					</div>

					<div id="container_sucursales">
                  <div class="tab-v2 margin-bottom-40 container-list-v">
										<ul class="nav nav-tabs">
	                        <li class="active"><a href="#alert-1" data-toggle="tab" aria-expanded="true">Total muestras medicas asignadas </a></li>
	                        <li class=""><a href="#alert-2" data-toggle="tab" aria-expanded="false">Gráfico del total de muestras médicas mensuales por laboratorio</a></li>
	                    </ul>
	                    <div class="tab-content">

	                        <div class="tab-pane fade active in" id="alert-1">

                              <div id="container_examenes">
									              <h2 class="sub-header">Total muestras medicas asignadas </h2>
				                        <div id="container_grafico_1" class="table-responsive table-content">

									              </div>
									            </div>
	                        </div>

	                        <div class="tab-pane fade" id="alert-2">

                              <div id="container_examenes">
									              <h2 class="sub-header">Gráfico del total de muestras médicas mensuales por laboratorio</h2>
																<form id="myform" method="post" action="somewhere" onsubmit="return submitForm(this);">

							<input type="text" id="fecha1" name="fecha1" value="08/15/2016" class="form-control" />
							<input type="text" id="fecha2" name="fecha2" value="08/20/2016" class="form-control" />
																	<input type="submit" value="Buscar"/>
																</form>
									              <div id="container_grafico_3" class="table-responsive table-content">

									              </div>

                                         <div id="container_grafico_2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
									            </div>

	                        </div>

	                    </div>
                  </div>

  	        </div>


					<div id="container_datos">
						<div class="panel panel-blue margin-bottom-40">
							<!-- <div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-tasks"></i> Informació® ¤el registro</h3>
							</div> -->
							<div class="panel-body">
								<form class="margin-bottom-40" role="form">
								<div class="col-lg-5" style="margin-bottom: 25px">
								<input type="text" class="form-control" id="paciente" placeholder="Paciente">
								</div>
		`						<br>
		<br>
		<br>

								  <div style="margin-bottom: 25px" class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" id="centroDrop" data-toggle="dropdown">
					Seleccione un Centro    <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li onclick="dropdownCentro(this.innerHTML);"><a>Centro1</a></li>
						<li onclick="dropdownCentro(this.innerHTML);"><a>Centro2</a></li>
						<li onclick="dropdownCentro(this.innerHTML);"><a>Centro3</a></li>
					</ul>
				</div>
				<br>
				<div style="margin-bottom: 25px" class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" id="labDrop" data-toggle="dropdown">
					Seleccione un Laboratorio    <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li onclick="dropdownLab(this.innerHTML);"><a>Lab1</a></li>
						<li onclick="dropdownLab(this.innerHTML);"><a>Lab2</a></li>
						<li onclick="dropdownLab(this.innerHTML);"><a>Lab3</a></li>
						<li onclick="dropdownLab(this.innerHTML);"><a>Lab4</a></li>
						<li onclick="dropdownLab(this.innerHTML);"><a>Lab5</a></li>
					</ul>
				</div>
				<input  type="hidden" class="form-control" id= "centro" name="centro">
				<input  type="hidden" class="form-control" id= "lab" name="lab">
				<h2>Escoger Ex&aacute;menes a Realizar</h2>
				<h3>Ex&aacute;menes de Sangre</h3>
				<div class="checkbox">
				<label><input class="Sangre" type="checkbox" id= "hemograma" name="rMuestra" value="Hemograma">Hemograma</label>
				</div>
				<div class="checkbox">
				<label><input class="Sangre" type="checkbox" id= "bioquimica" name="rMuestra" value="Bioquímica">Bioqu&iacute;mica</label>
				</div>
				<div class="checkbox">
				<label><input class="Sangre" type="checkbox" id= "seriologia" name="rMuestra" value="Seriología">Seriolog&iacute;a</label>
				</div>
				<h3>Ex&aacute;menes de Orina</h3>
				<div class="checkbox">
				<label><input class="Orina" type="checkbox" id= "uroanalisis" name="rMuestra" value="Uroanálisis">Uroan&aacute;lisis</label>
				</div>
				<h3>Ex&aacute;menes de Heces</h3>
				<div class="checkbox">
				<label><input class="Heces" type="checkbox" id= "coprocultivo" name="rMuestra" value="Coprocultivo">Coprocultivo</label>
				</div>


								</form>
									<button id="actualizar" onclick="registroMuestra();">Registrar</button>

							</div>
						</div>
					</div>

					<div id="container_pacientes">


					  	<div class="table-responsive table-content">
							<table id = "Pacientes_Operario" class = "display" width = "100%"></table>
					  	</div>
					</div>
		        </div>
	        </div>
        </div>
      </div>
      <!--<footer class="footer">
      <div class="container">
        <p class="text-muted">DAW @ 2016</p>
      </div>
    </footer>-->
    </div>

	<div class="modal fade" id="myModalMeses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content modal-u-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Filtros</h4>
		  </div>
		  <div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Enfermedad</label>
						<div class="col-lg-10">
							<select class="form-control">
							<option>Todas</option>
							<option>Enfermedad 2</option>
							<option>Enfermedad 3</option>
							<option>Enfermedad 4</option>
							<option>Enfermedad 5</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Laboratorio</label>
						<div class="col-lg-10">
							<select class="form-control">
							<option>Todos</option>
							<option>Laboratorio 2</option>
							<option>Laboratorio 3</option>
							<option>Laboratorio 4</option>
							<option>Laboratorio 5</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Fecha ini</label>
						<div class="col-lg-10">
							<div class="input-group date" id="datetimepicker3">
								<input type="text" class="form-control" />
								<span class="input-group-addon add-on border-u">
									<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Fecha fin</label>
						<div class="col-lg-10">
							<div class="input-group date" id="datetimepicker4">
								<input type="text" class="form-control" />
								<span class="input-group-addon add-on border-u">
									<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
						</div>
					</div>
				</form>
		  </div>

		  <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn btn-primary">Filtrar</button>
		  </div>

		</div>
	  </div>
	</div>

	<div class="modal fade" id="myModalEnfermedad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content modal-u-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Filtros</h4>
		  </div>
		  <div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Laboratorio</label>
						<div class="col-lg-10">
							<select class="form-control">
							<option>Todos</option>
							<option>Laboratorio 2</option>
							<option>Laboratorio 3</option>
							<option>Laboratorio 4</option>
							<option>Laboratorio 5</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Fecha ini</label>
						<div class="col-lg-10">
							<div class="input-group date" id="datetimepicker1">
								<input type="text" class="form-control" />
								<span class="input-group-addon add-on border-u">
									<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Fecha fin</label>
						<div class="col-lg-10">
							<div class="input-group date" id="datetimepicker2">
								<input type="text" class="form-control" />
								<span class="input-group-addon add-on border-u">
									<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
						</div>
					</div>
				</form>
		  </div>

		  <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn btn-primary">Filtrar</button>
		  </div>

		</div>
	  </div>
	</div>

<div class="modal fade" id="myModalPaciente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content modal-u-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Ingresar Datos</h4>
		  </div>
		  <div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Nombres</label>
						<div class="col-lg-10">
						<input id="nombres" type="text" class="form-control" name="nombres">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Apellidos</label>
						<div class="col-lg-10">
						<input id="apellidos" type="text" class="form-control" name="apellidos">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Cedula</label>
						<div class="col-lg-10">
						<input id="cedula" type="text" class="form-control" name="cedula">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Correo Electronico</label>
						<div class="col-lg-10">
						<input id="correo" type="email" class="form-control" name="correo">
						</div>
					</div>
				</form>
		  </div>

		  <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn" id="registrarPaciente" onclick="registroPaciente();" data-dismiss="modal">Registrar</button>
		  </div>

		</div>
	  </div>
	</div>

	<div class="modal fade" id="myModalLaboratorios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content modal-u-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Filtros</h4>
		  </div>
		  <div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Enfermedad</label>
						<div class="col-lg-10">
							<select class="form-control">
							<option>Todos</option>
							<option>Enfermedad 2</option>
							<option>Enfermedad 3</option>
							<option>Enfermedad 4</option>
							<option>Enfermedad 5</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Fecha ini</label>
						<div class="col-lg-10">
							<div class="input-group date" id="datetimepicker1">
								<input type="text" class="form-control" />
								<span class="input-group-addon add-on border-u">
									<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Fecha fin</label>
						<div class="col-lg-10">
							<div class="input-group date" id="datetimepicker2">
								<input type="text" class="form-control" />
								<span class="input-group-addon add-on border-u">
									<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
						</div>
					</div>
				</form>
		  </div>

		  <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn btn-primary">Filtrar</button>
		  </div>

		</div>
	  </div>
	</div>

	<div class="modal fade" id="myModalCiudades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content modal-u-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Filtros</h4>
		  </div>
		  <div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Enfermedad</label>
						<div class="col-lg-10">
							<select class="form-control">
							<option>Todos</option>
							<option>Enfermedad 2</option>
							<option>Enfermedad 3</option>
							<option>Enfermedad 4</option>
							<option>Enfermedad 5</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Laboratorio</label>
						<div class="col-lg-10">
							<select class="form-control">
							<option>Todos</option>
							<option>Laboratorio 2</option>
							<option>Laboratorio 3</option>
							<option>Laboratorio 4</option>
							<option>Laboratorio 5</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Fecha ini</label>
						<div class="col-lg-10">
							<div class="input-group date" id="datetimepicker1">
								<input type="text" class="form-control" />
								<span class="input-group-addon add-on border-u">
									<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Fecha fin</label>
						<div class="col-lg-10">
							<div class="input-group date" id="datetimepicker2">
								<input type="text" class="form-control" />
								<span class="input-group-addon add-on border-u">
									<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="glyphicon glyphicon-calendar"></i>
								</span>
							</div>
						</div>
					</div>
				</form>
		  </div>

		  <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn btn-primary">Filtrar</button>
		  </div>

		</div>
	  </div>
	</div>


		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>

		   <script src="http://code.highcharts.com/highcharts.js"></script>
			 <script src="http://code.highcharts.com/modules/exporting.js"></script>
          <script src="javascripts/map.js"></script>
			 <script src="javascripts/operario_script.js"></script>

<!--

 optional -->
<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="javascripts/grafico_barra2.js"></script>
		<script type="text/javascript">
      	$(function () {

      });
      		</script>

	</body>

</html>
